body{
    background-image: url(./../images/game-bg.jpg);
    background-size: cover;
    min-height: 100vh;
    max-height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}
/* 
#navbar{
    width: 100vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    
    background-color: rgba(0, 0, 0, 0.3);
}

a:visited {
   color: white;
   background-color: transparent;
   text-decoration: none;
}

a:active {
   color: red;
   background-color: transparent;
}

 a:active {
    color: red;
    background-color: transparent;
 }
 a:hover{
    text-decoration: underline;
 } */

#welcome-box {
   width: 80%;
   max-width: 700px;
   margin: 150px auto;
   text-align: center; /* Center the content */
}

#btn {
   font-size: 24px;
   font-weight: bold;
    position: relative;
  
    margin-top: 10px;
    width: 350px;
    height: 40px;
    background-color:orangered;
    border: 2px transparent solid;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
}
